body{
    background-color: bisque;
}


h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
}
form{
    text-align: center;
}

